[submodule "backend"]
	path = backend
	url = https://github.com/roqkf13/com.anjgkwl.api.git
[submodule "docs"]
	path = docs
	url = https://github.com/roqkf13/com.anjgkwl.docs.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/roqkf13/com.anjgkwl.www.git
