[submodule "backend"]
	path = abiswallow
	url = https://github.com/roqkf13/com.anjgkwl.api.git
[submodule "docs"]
	path = vault
	url = https://github.com/roqkf13/com.anjgkwl.docs.git
[submodule "frontend"]
	path = www
	url = https://github.com/roqkf13/com.anjgkwl.www.git
